include LICENSE
include README.md
include requirements/*.txt
include .env.example
recursive-include api/templates *
recursive-include api/static *
recursive-include api/locale *
recursive-include docs *
recursive-include tests *
include manage.py
include pytest.ini
include .coveragerc
include .flake8
include .isort.cfg
include .pre-commit-config.yaml
include .python-version
